body {
    background: #FFD1DC;
}

aside {
    float: left;
    background: #AA336A;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #ffffff;
    border-right: 5px solid #f7f7f7;
}

aside img {
    width: 50px;
    float: left;
}

aside .logo {
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3 {
    margin-top: 50px;
    font-size: 20px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #ffffff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #57eeee;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    text-align: center;
    margin-top: 100px;
    width: 75%;
}

main .features h3 {
     margin-top: 20px;
}

form {
    margin-left:25%;
    width:500px;
    margin-top:50px;
}

.profile-winky {
    width:100px;
}

.profile-buttons {
    display: flex;
    justify-content: center;
}

.profile-button {
    display: flex;
    margin-left: 0%;
}

/* Стили для всех таблиц */
table {
    border-collapse: collapse;
    margin: 20px auto;  /* Центрирует таблицу в блоке */
    width: 90%;
    background: #FFF1FC;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #000;  /* Тонкие черные границы */
    padding: 12px 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background: #AA336A;
    color: white;
    font-weight: normal;
}


tr:hover {
    background: #FFC1CC;  /* Подсветка при наведении */
}

/* .talent-table {
    table-layout: fixed;
}

.talent-table td:nth-child(2),
.talent-table th:nth-child(2) { width: 10%; }

.talent-table td:nth-child(3),
.talent-table th:nth-child(3) { width: 30%; }

.talent-table td:nth-child(4),
.talent-table th:nth-child(4) { width: 9%; }

.talent-table td:nth-child(5),
.talent-table th:nth-child(5) { width: 9%; } */